
/*Las clases creadas son
h1= .title
legend= .form-title
h2= .form-title2 (para subtitulos entre legend y label o entre labels, por ejemplo: TRABAJO 1, TRABAJO 2)
labels= sr-only (para que cuando pose el cursor una persona invidente escuche lo que hay pero en
nuestra versión no se vea
los fieldset son son: .personal-data,.contact, .about you, .professional-experience
footer= .footer-pullandpush)*/




*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

/*HEADER*/


header {
  width: 100%;
  height: 120px;
  top:0;
  left:0;
  position: fixed;
  background-color: #60beb2;
  color: white;
  text-transform: uppercase;
  z-index: 1;
  display: flex;
  justify-content: space-between;
align-items: center;
}

.pullandpush-logo {
width: 20%;
height: auto;
margin-left: 5%;
}
.eye {
border-left: 1px solid white;
padding-left: 5%;
margin-right: 5%;
width:12%;
padding-top: 10px;
}

.eye-logo {
width: 100%;
margin-right: 5%;
display: block;
padding-bottom: 10px;
background-color: transparent;
border: none;
}
.hidden {
display: none;
}


.eye-header {
  -webkit-appearance: none;
  background-color: #3CDBC0;
  color: white;
  border-style: groove;
  border-radius:4px;
  position: absolute;
  right: 0px;
  bottom:0px;
}


.pdf-prev{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

/*FORMULARIO*/

.title {
font-weight: 600;
font-size: 18px;
text-transform: uppercase;
margin-top: 170px;
}

.form-section {
background-image: url(../images/backgourd.svg);
background-repeat: repeat;
display: flex;
flex-direction: column;
padding: 30px 30px;
}

fieldset, textarea, input{
top:-10px;
background-color: white;
border-style: none;
width: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
font-weight: 300;
}

input {
border-bottom: 1px solid #a9a9a9;
width: 100%;
height: 35px;
margin-bottom: 5%;
}

.eye-logo {
margin-right: 5%;
}

.description-into {
  border: 1px solid #a9a9a9;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.eye-logo {
margin-right: 5%;
-webkit-appearance: none;
}

.form-title {
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
color: #60beb2;
padding-top: 50px;
}

.sr-only{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}


.form-title2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #797979;
}

.calendar {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
}


select {
color: #797979;
border-style:none;
background-color: rgba(96,190,178,0.3);
border-width: 1px;
border-color: none;
border-image: none;
border-style: none;
border-radius: 3px;
}

.languages-levels {
  display: flex;
  flex-direction: row;
}
.buttom-languages-levels {
border-bottom: 1px solid #a9a9a9;
width: 100%;
height: auto;
margin-bottom: 5%;
}

.about-you {
width: 100%;
}

/* PREVIEW SECTION */

.preview {
  background-image: url(../images/backgourd.svg);
  background-repeat: repeat;
  font-size: 6px;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  color: #1c1c1b;
}

.preview-a4 {
  background-color: white;
  width: 53.333em;
  margin-right: auto;
  margin-left: auto;

  /*Dos alternativas para fijar la altura padding o height*/
  /*height: 454.054px;*/
  padding-top: 75.676em;
  position: relative;
}

.preview-content {
  padding-top: 3.5em;
  padding-right: 3.5em;
  padding-left: 3.5em;
  padding-bottom: 3.5em;
  display: flex;
  flex-wrap: wrap;

  /*Es nesesario sin en vez de height uso padding para definir la altura*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.preview-header{
  border-bottom: 1px solid #a9a9a9;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
}

.preview-colum {
  border-right: 1px solid #a9a9a9;
  width: 30%;
  text-align: right;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-bottom: 1em;
}

.preview-colum:last-child{
  border-right: 0;
  width: 70%;
  text-align: left;
}

.js-name {
  font-weight: 600;
  font-size: 4em;
  text-transform: uppercase;
  margin: 0;
  color: #2c2c2c;
}

.js-career {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
}

.preview-title {
  font-size: 700;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0;
}

.preview-contact, .preview-education, .preview-languages, .preview-extract, .preview-jobs{
  padding-bottom: 1em;
}

.preview-set, .js-extract{
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.js-company, .js-language, .js-degree {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.js-position, .js-languagelvl, .js-institution {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.js-jobdata, .js-educationdate, .js-tel, .js-email{
  font-weight: 300;
  margin: 0;
}

.js-explanation {
  margin: 0;
  padding-bottom: 1em;
}

hr {
    margin-bottom: 1em;
    height: 1px;
    border: 0;
    background-color: #a9a9a9;
}


/* FOOTER */


.footer-pullandpush {
  bottom: 0;
  left:0;
  background-color: #193333;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:0 ;
  color: white;
  align-content: space-between;
}
.thanks {
font-size: 12px;
font-weight: 500;
justify-content: center;
align-items: center;
  margin-top: 5%;
margin-bottom: 0;
}
.logo-adalab {
width: 33%;
margin-left:33%;
justify-content: center;
}
.atribution {
font-weight: 500;
font-size: 8px;
text-transform: uppercase;
justify-content: center;
}

span  {
font-weight: 600;
}


/* MEDIA QUERIES */

@media all and (min-width:768px){
  .preview {
    font-size: 12px;
  }
}

@media all and (min-width:920px){

}

@media all and (min-width:1024px){
}
