
/*Las clases creadas son
h1= .title
legend= .form-title
h2= .form-title2 (para subtitulos entre legend y label o entre labels, por ejemplo: TRABAJO 1, TRABAJO 2)
labels= sr-only (para que cuando pose el cursor una persona invidente escuche lo que hay pero en
nuestra versión no se vea
los fieldset son son: .personal-data,.contact, .about you, .professional-experience
footer= .footer-pullandpush)*/




*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

/*HEADER*/


header {
  width: 100%;
  height: 120px;
  top:0;
  left:0;
  position: fixed;
  background-color: #60beb2;
  color: white;
  text-transform: uppercase;
  z-index: 1;
  display: flex;
  justify-content: space-between;
align-items: center;
}

.pullandpush-logo {
width: 20%;
height: auto;
margin-left: 5%;
}
.eye {
border-left: 1px solid white;
padding-left: 5%;
margin-right: 5%;
width:12%;
padding-top: 10px;
}

.eye-logo {
width: 100%;
margin-right: 5%;
display: block;
padding-bottom: 10px;


}


.eye-header {
  -webkit-appearance: none;
  background-color: #3CDBC0;
  color: white;
  border-style: groove;
  border-radius:4px;
  position: absolute;
  right: 0px;
  bottom:0px;
}


.pdf-prev{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

/*FORMULARIO*/

.title {
font-weight: 600;
font-size: 18px;
text-transform: uppercase;
margin-top: 170px;
}

.form-section {
background-image: url(../images/backgourd.svg);
background-repeat: repeat;
}


fieldset, textarea, input{
background-color: white;
border-style: none;
}

input {
border-bottom: 1px solid #a9a9a9;
width: 100%;
height: 35px;
margin-bottom: 5%;
}
.eye-logo {
margin-right: 5%;
;

}

.personal-data {

}

.form-title {
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
color: #60beb2;
}

.professional-experience {
  width: 20%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 9px;
}

.form-title2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #797979;
}

select {
color: #797979;
border-style:none;
background-color: rgba(96,190,178,0.3);
border-width: 1px;
border-color: none;
border-image: none;
border-style: none;
border-radius: 3px;
}

.about-you {
width: 100%;
}


/* FOOTER */

.footer-pullandpush {
  bottom: 0;
  left:0;
  background-color: #193333;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:0 ;
color: white;
align-content: space-between;
}
.thanks {
font-size: 12px;
font-weight: 500;
justify-content: center;
align-items: center;
  margin-top: 5%;
margin-bottom: 0;
}
.logo-adalab {
width: 33%;
margin-left:33%;
justify-content: center;
}
.atribution {
font-weight: 500;
font-size: 8px;
text-transform: uppercase;
justify-content: center;
}

span  {
font-weight: 600;
}
